body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

p{
    font-size: 15px;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 700;
    font-style: normal;
}

.container{
    display: absolute;
    max-width: 360px;
    margin: auto;
}
.div1{
    padding: 18px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 20px;
    margin: 0, 1em;
}

.div1 img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}