body{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bfdbfe;
}

p{
    font-size: 15px;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 700;
    font-style: normal;
}

.div1{
    margin-top: 12%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 400px;
    text-align: center;
}

.div1 img{
    width: 400px;
    border-radius: 10px;
    margin-bottom: 15px;
}